<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <!--PROD enviroment-->
    <!--<add key="urlApiGenius" value="http://live.wh.sportingpulseinternational.com/v2/basketball/read/"/>
    <add key="appKeyGenius" value="0f98fe92935b7c51de7284e0ed81173c"/>

    <add key="geniusAPI" value="https://api.wh.geniussports.com/v1/basketball/statistics/personmatch/matches/"/>

    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=accountstorobrasprod01;AccountKey=iFMpQUJLQ2J2nG0ywiQY3/IQgEWSSjdRrCIgkZ3bRkUBERY8Q7qXELx4oubXuJ4BWEsCfDWNEMTilBPdyk36JQ==;EndpointSuffix=core.windows.net" />
    <add key="tableStorageName" value="LiveServiceLog"/>

    <add key="liveAPI" value="http://api-obras-prod-02.azurewebsites.net/"/>
    <add key="liveHubName" value="myHub"/>

    <add key="endPointUri" value="https://db-obras-prod-01.documents.azure.com:443/"/>
    <add key="authKeyString" value="SVAPXpMbcaXFGi6B2AgKrXlFMQEs2zWBicsQodZrgV6P7wbvVF1PJnNNCk9jfV9cAht9DCBmXKHa2UZIE8q17w=="/>
    <add key="restAPI" value="http://api-obras-prod-01.azurewebsites.net/"/>
    <add key="shotChartAPI" value="http://api-obras-prod-03.azurewebsites.net/"/>-->

    <!--Dev enviroment-->
    <add key="urlApiGenius" value="http://live.test.wh.sportingpulseinternational.com/v2/basketball/read/"/>
    <add key="appKeyGenius" value="fb3f05fc50daa647a2dba428c9e32bfb"/>

    <add key="geniusAPI" value="http://api.test.wh.geniussports.com/v1/basketball/statistics/personmatch/matches/"/>

    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=accountstorageobrasdev01;AccountKey=te+qaZfsfSfouPQPi1nK94JEacJoGqLybWwjsffELx+ELf8cdrXWfQjdnlaQ5CeHbsfXeXuhBSSdQ/L1uZY6lQ==" />
    <add key="tableStorageName" value="LiveServiceLog"/>

    <add key="liveAPI" value="https://api-obras-dev-02.azurewebsites.net/"/>
    <add key="liveHubName" value="myHub"/>

    <add key="endPointUri" value="https://db-obras-dev-01.documents.azure.com:443/"/>
    <add key="authKeyString" value="lQ3DVggiEDi6OiLhagdxIGcNRlNoJz73Nh3liaxhD79aCOiAgWDk7LobDNyJ39x8MEC9DHsry5skVY9IHDUAoA=="/>
    <add key="restAPI" value="https://api-obras-dev-01.azurewebsites.net/"/>
    <add key="shotChartAPI" value="https://api-obras-dev-03.azurewebsites.net/"/>

  </appSettings>
  <!--Desarrollo-->
  <connectionStrings>
    <add name="DefaultConnection"
        connectionString="Data Source=sql-obras-dev-01.database.windows.net;Initial Catalog=db-obras-dev-01;User ID=saobras;Password=rhkg3@ADMIN@1981" />
  </connectionStrings>
  <!--Produccion-->
  <!--<connectionStrings>
    <add name="DefaultConnection"
        connectionString="Server=tcp:sql-obras-prod-01.database.windows.net,1433;Initial Catalog=db-obras-prod-01;Persist Security Info=False;User ID=saobras;Password=rhkg3@ADMIN@2018;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
  </connectionStrings>-->
</configuration>